* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
  background: radial-gradient(circle at 50% 20%, hsl(214deg, 47%, 23%), hsl(237deg, 49%, 15%));
  color: white;
}

header {
  text-align: center;
}
header h1 {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 3.5rem;
  text-shadow: 5px 5px black;
  margin: 30px auto;
}

main {
  margin: 20px auto;
}
main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}
main .container .choice-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px auto;
  width: 100%;
  height: 50px;
}
main .container .choice-container div {
  margin: 20px;
  text-align: center;
}
main .container .choice-container div h2 {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 2.4rem;
}
main .container .choice-container div p {
  color: #53FF45;
  font-size: 2rem;
  text-shadow: 0.5px 0.5px black;
}
main .container .result_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 150px;
}
main .container .result_container h2 {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 3rem;
  margin: 5rem auto;
}
main .container .points_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px auto;
}
main .container .points_container h3 {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}
main .container .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 120px;
}
main .container .btn-container .btn {
  cursor: pointer;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 3rem;
  border: 5px solid black;
  text-align: center;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
main .container .btn-container .btn img {
  width: 50px;
  height: 50px;
}
main .container .btn-container .btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
main .container .reset-container {
  width: 100%;
  height: 80px;
  text-align: center;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .container .reset-container button {
  cursor: pointer;
  margin: auto;
  width: 85px;
  height: auto;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: white;
  padding: 5px;
  font-size: 2.5rem;
  background: #2188CA;
  border: none;
  font-weight: 700;
  letter-spacing: 1px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
main .container .reset-container button:hover {
  outline: 2px solid white;
}
main .container .reset-container button:active {
  background-color: hsl(214deg, 47%, 23%);
  -webkit-box-shadow: 0 5px hsl(214deg, 47%, 23%);
          box-shadow: 0 5px hsl(214deg, 47%, 23%);
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 10px auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  header h1 {
    font-size: 4rem;
  }
  main .container .choice-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 80px;
  }
  main .container .choice-container div h2 {
    font-size: 3rem;
  }
  main .container .choice-container div p {
    font-size: 2.5rem;
  }
  main .container .result_container {
    min-height: 170px;
  }
  main .container .result_container h2 {
    font-size: 4rem;
  }
  main .container .points_container h3 {
    font-size: 3rem;
  }
  main .container .btn-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 150px;
  }
}