@use "./Sass_components/variables";
@use "./Sass_components/reseter";

html {
  font-size: 10px;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: variables.$main_font_family;
  background: variables.$bg_color;
  color: variables.$font_color;
}
header {
  text-align: center;
  h1 {
    font-family: variables.$heading_font_family;
    font-size: 3.5rem;
    text-shadow: variables.$text_shadow;
    margin: 30px auto;
  }
}
main {
  margin: 20px auto;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    .choice-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 30px auto;
      div {
        margin: 20px;
        text-align: center;
        h2 {
          font-family: variables.$heading_font_family;
          font-size: 2.4rem;
        }
        p {
          color: variables.$response_color;
          font-size: 1.8rem;
        }
      }
    }
    .result_container {
      display: flex;
      justify-content: center;
      text-align: center;
      h2 {
        font-family: variables.$heading_font_family;
        font-size: 3rem;
    }
    
  }
}
}